name: Pull Request Checks

on:
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  checks:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps

      - name: Typecheck
        run: bun run typecheck

      - name: Lint
        run: bun run lint:ci

      - name: Test
        run: bun run test

